<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Money Inquiry</title>
</head>
<body>
    <div style="align-items: center; text-align: center;">
        <h1>Demo E Money Inquiry</h1>
        <div>
            <a href="/"><button type="button">Back</button></a><br/>
            <div>
                <form action="/topup" method="post">
                    <table style="margin-left: auto; margin-right: auto;">
                        <tr>
                            <td>
                                <label for="partnerReferenceNo">partnerReferenceNo</label>
                            </td>
                            <td>
                                :
                            </td>
                            <td>
                                <input type="text" name="partnerReferenceNo" value="<%= data.partnerReferenceNo %>" readonly="readonly" size="50">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="referenceNo">referenceNo</label>
                            </td>
                            <td>
                                :
                            </td>
                            <td>
                                <input type="text" name="referenceNo" value="<%= data.referenceNo %>" readonly="readonly" size="50">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="customerNumber">Nomor Akun E Money</label>
                            </td>
                            <td>
                                :
                            </td>
                            <td>
                                <input type="text" name="customerNumber" value="<%= data.customerNumber %>" readonly="readonly" size="50">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="customerName">Pemilik E Money</label>
                            </td>
                            <td>
                                :
                            </td>
                            <td>
                                <input type="text" name="customerName" value="<%= data.customerName %>" readonly="readonly" size="50">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="beneficiaryBankName">E Money</label>
                            </td>
                            <td>
                                :
                            </td>
                            <td>
                                <input type="text" name="beneficiaryBankName" value="<%= data.beneficiaryBankName %>" readonly="readonly" size="50">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="amount">Nominal transfer</label>
                            </td>
                            <td>
                                :
                            </td>
                            <td>
                                <input type="text" name="amount" value="<%= data.amount %>" size="50">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="remark">Tujuan Transaksi</label>
                            </td>
                            <td>
                                :
                            </td>
                            <td>
                                <input type="text" name="remark" size="50">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="beneficiaryBankCode" value="<%= data.beneficiaryBankCode %>" readonly="readonly" hidden>
                                <input type="text" name="accountNo" value="<%= data.accountNo %>" readonly="readonly" hidden>
                                <input type="text" name="token" value="<%= data.token %>" readonly="readonly" hidden>
                            </td>
                        </tr>
                    </table>
                    <button type="submit">Transfer</button>
                </form>
            </div>
            <br/>
            <div>
                <h3>Logs</h3>
                <div>
                    <table style="margin-left: auto; margin-right: auto;">
                        <tr>
                            <td>
                                <label for="token">API</label>
                            </td>
                            <td>
                                :
                            </td>
                            <td>
                                <textarea style="vertical-align: top;" name="api" id="" cols="60" rows="1" disabled="disabled"><%= data.api %></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="headers">Request Headers</label>
                            </td>
                            <td>
                                :
                            </td>
                            <td>
                                <textarea style="vertical-align: top;" name="headers" id="" cols="50" rows="10" disabled="disabled"><%= data.headers %></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="body">Request Body</label>
                            </td>
                            <td>
                                :
                            </td>
                            <td>
                                <textarea style="vertical-align: top;" name="body" id="" cols="50" rows="10" disabled="disabled"><%= data.body %></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="response">Response</label>
                            </td>
                            <td>
                                :
                            </td>
                            <td>
                                <textarea style="vertical-align: top;" name="response" id="" cols="50" rows="10" disabled="disabled"><%= data.response %></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>